html,body{
	width:99%;
	height:99%;
}
body{
	font-family:Verdana;
	background:#333;
}
#x-view{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:80%;
}
#x-view > #login {
	background:white;
	height:80%;
	padding:15px;
	border:1px solid #888;
}
